* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg: #1e1e1e;
}

body {
  background-color: var(--dark-bg);
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}

/* Shared btn */
.btn {
  background-color: #2ecc71;
  border: none;
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
